{% extends 'base.html.twig' %}

{% block body %}
    <h1>Three In Line</h1>
    <p>
        Turn <b>{{ board.turn() }}</b>
        <br> <a href="{{ url('home_page') }}">Reinicair partida</a>
    </p>
    {% include 'board.html.twig' %}
    {{ dump(board) }}
{% endblock %}